{% extends "base.html.twig" %}
{% form_theme formarticle 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <h1> Création d'un compte</h1>

        {{form_start(formarticle)}}

        {{form_row(formarticle.title,{'attr':{'placeholder':'titre'}})}}

        {{form_row(formarticle.n,{'label':'contenu','attr':{'placeholder':'votre contenu'}})}}

        {{form_row(formarticle.image,{'attr':{"placeholder":"url de l'image"}})}}
        <button type="submit" class="btn btn-success" >
        Enregistrer
        </button>

        {{form_end(formarticle)}}

{% endblock %}